{%
set variables = {"name":"Test Character","anima":"","player":"Erica","limit_trigger":"","concept":"A test character, who is here for testing!","strength":2,"dexterity":4,"stamina":3,"charisma":1,"manipulation":2,"appearance":5,"perception":3,"intelligence":4,"wits":3,"archery":0,"archery_specialty":false,"archery_favored":false,"athletics":0,"athletics_specialty":false,"athletics_favored":false,"awareness":0,"awareness_specialty":false,"awareness_favored":false,"brawl":0,"brawl_specialty":false,"brawl_favored":false,"bureaucracy":0,"bureaucracy_specialty":false,"bureaucracy_favored":false,"dodge":0,"dodge_specialty":false,"dodge_favored":false,"integrity":0,"integrity_specialty":false,"integrity_favored":false,"investigation":0,"investigation_specialty":false,"investigation_favored":false,"larceny":0,"larceny_specialty":false,"larceny_favored":false,"linguistics":0,"linguistics_specialty":false,"linguistics_favored":false,"lore":0,"lore_specialty":false,"lore_favored":false,"medicine":0,"medicine_specialty":false,"medicine_favored":false,"melee":0,"melee_specialty":false,"melee_favored":false,"occult":0,"occult_specialty":false,"occult_favored":false,"performance":0,"performance_specialty":false,"performance_favored":false,"presence":0,"presence_specialty":false,"presence_favored":false,"resistance":0,"resistance_specialty":false,"resistance_favored":false,"ride":0,"ride_specialty":false,"ride_favored":false,"sail":0,"sail_specialty":false,"sail_favored":false,"socialize":0,"socialize_specialty":false,"socialize_favored":false,"stealth":0,"stealth_specialty":false,"stealth_favored":false,"survival":0,"survival_specialty":false,"survival_favored":false,"thrown":0,"thrown_specialty":false,"thrown_favored":false,"war":0,"war_specialty":false,"war_favored":false,"weapon_0_name":"","weapon_0_accuracy":0,"weapon_0_damage":0,"weapon_0_overwhelming":0,"weapon_0_defense":0,"weapon_0_tags":"","weapon_1_name":"","weapon_1_accuracy":0,"weapon_1_damage":0,"weapon_1_overwhelming":0,"weapon_1_defense":0,"weapon_1_tags":"","weapon_2_name":"","weapon_2_accuracy":0,"weapon_2_damage":0,"weapon_2_overwhelming":0,"weapon_2_defense":0,"weapon_2_tags":"","weapon_3_name":"","weapon_3_accuracy":0,"weapon_3_damage":0,"weapon_3_overwhelming":0,"weapon_3_defense":0,"weapon_3_tags":"","weapon_4_name":"","weapon_4_accuracy":0,"weapon_4_damage":0,"weapon_4_overwhelming":0,"weapon_4_defense":0,"weapon_4_tags":"","weapon_5_name":"","weapon_5_accuracy":0,"weapon_5_damage":0,"weapon_5_overwhelming":0,"weapon_5_defense":0,"weapon_5_tags":"","weapon_6_name":"","weapon_6_accuracy":0,"weapon_6_damage":0,"weapon_6_overwhelming":0,"weapon_6_defense":0,"weapon_6_tags":"","weapon_7_name":"","weapon_7_accuracy":0,"weapon_7_damage":0,"weapon_7_overwhelming":0,"weapon_7_defense":0,"weapon_7_tags":"","weapon_8_name":"","weapon_8_accuracy":0,"weapon_8_damage":0,"weapon_8_overwhelming":0,"weapon_8_defense":0,"weapon_8_tags":"","weapon_9_name":"","weapon_9_accuracy":0,"weapon_9_damage":0,"weapon_9_overwhelming":0,"weapon_9_defense":0,"weapon_9_tags":"","armor_0_name":"","armor_0_soak":0,"armor_0_hardness":0,"armor_0_mobility_penalty":0,"armor_0_tags":"","armor_1_name":"","armor_1_soak":0,"armor_1_hardness":0,"armor_1_mobility_penalty":0,"armor_1_tags":"","armor_2_name":"","armor_2_soak":0,"armor_2_hardness":0,"armor_2_mobility_penalty":0,"armor_2_tags":"","armor_3_name":"","armor_3_soak":0,"armor_3_hardness":0,"armor_3_mobility_penalty":0,"armor_3_tags":"","armor_4_name":"","armor_4_soak":0,"armor_4_hardness":0,"armor_4_mobility_penalty":0,"armor_4_tags":""}
%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block Title %}Sheet Testing{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('assets/EX3/Solar/css/style.css') }}"/>
</head>
<body>

  <!-- Code goes here -->
  {% import _self as sheet %}
  {% set logoUrl = "https://rawcdn.githack.com/Unarekin/WA-Sheets/97bac457013be51b768a76819370d647e1ff358a/public/assets/EX3/images/GoldLogo.png" %}
  {%
    set abilities = {
      "War": [
        "Archery",
        "Athletics",
        "Awareness",
        "Brawl",
        "Dodge",
        "Integrity",
        "Melee",
        "Resistance",
        "Thrown",
        "War"
      ],
      "Life": [
        "Larceny",
        "Linguistics",
        "Performance",
        "Presence",
        "Ride",
        "Sail",
        "Socialize",
        "Stealth",
        "Survival"
      ],
      "Wisdom": [
        "Bureaucracy",
        "Investigation",
        "Lore",
        "Medicine",
        "Occult"
      ],
      "Misc": [
        "additional_ability_0",
        "additional_ability_1",
        "additional_ability_2",
        "additional_ability_3"
      ]
    }
  %}

  {% macro separator(name) %}
  <div class="bar">
    <img src="https://rawcdn.githack.com/Unarekin/WA-Sheets/97bac457013be51b768a76819370d647e1ff358a/public/assets/EX3/images/GoldBar.jpg">
    <div class="abs-center"><span class="white-bg pad-left pad-right">{{name}}</span></div>
  </div>
  {% endmacro separator %}

  {% macro showDots(name, value, max = 5) %}
  {% deprecated "showDots is not used for the edit form" %}
  {% set value = value|abs %}
  {% set max = max|abs %}
  <input type="number" id="{{ name }}" name="{{ name }}" min="0" max="{{ max }}" value="{{ value }}">
  {% endmacro showDots %}

  {% macro inputOrText(name, value, type, input) %}
    {% if input %}
      <input type="{{type}}" name="{{name}}" id="{{name}}" value="{{value}}">
    {% else %}
      {{value}}
    {% endif %}
  {% endmacro inputOrText %}

  {% macro armorLine(name, soak, mobility_penalty, hardness, tags, index) %}
  {% set input = (index is defined and index != "") %}
  <div class="row">
    <div class="col-3">{{ sheet.inputOrText("armor_" ~ index ~ "_name", name, "text", input) }}</div>
    <div class="col-2">{{ sheet.inputOrText("armor_" ~ index ~ "_soak", soak, "number", input) }}</div>
    <div class="col-2">{{ sheet.inputOrText("armor_" ~ index ~ "_mobility_penalty", mobility_penalty, "number", input) }}</div>
    <div class="col-2">{{ sheet.inputOrText("armor_" ~ index ~ "_hardness", hardness, "number", input) }}</div>
    <div class="col-3">{{ sheet.inputOrText("armor_" ~ index ~ "_tags", tags, "text", input) }}</div>
  </div>
  {% endmacro armorLine %}

  {% macro weaponLine(name, accuracy, damage, overwhelming, defense, tags, index) %}
  {% set input = (index is defined and index != "") %}
  <div class="row">
    <div class="col-8 col-sm-4">{{ sheet.inputOrText("weapon_" ~ index ~ "_name", name, "text", input) }}</div>
    <div class="col-2 col-sm-1">{{ sheet.inputOrText("weapon_" ~ index ~ "_accuracy", accuracy, "number", input) }}</div>
    <div class="col-2 col-sm-1">{{ sheet.inputOrText("weapon_" ~ index ~ "_damage", damage, "number", input) }}</div>
    <div class="col-2 col-sm-1">{{ sheet.inputOrText("weapon_" ~ index ~ "_overwhelming", overwhelming, "number", input) }}</div>
    <div class="col-2 col-sm-1">{{ sheet.inputOrText("weapon_" ~ index ~ "_defense", defense, "number", input) }}</div>
    <div class="col-8 col-sm-4">{{ sheet.inputOrText("weapon_" ~ index ~ "_tags", tags, "text", input) }}</div>
  </div>
  {% endmacro weaponLine %}


  {% macro abilityEntry(name, allowSpecialty=false, allowFavored=true, underlineName=false, value=0, specialty="", favored=false, allowEditName=false, elementName="", allowSpecialty=false) %}
  {% import _self as ext %}
  {% set value = ( value is defined and value != "" ? value : 0) %}
  {% set slug = name|lower|replace({" ": "_"}) %}
  {% set nameName = ( elementName is defined and elementName != "" ? (elementName ~ "_name") : slug) %}
  {% set valueName = ( elementName is defined and elementName != "" ? (elementName ~ "_value") : slug) %}
  {% set favoredName = ( elementName is defined and elementName != "" ? elementName : slug) ~ "_favored" %}
  {% set specialtyName = ( elementName is defined and elementName != "" ? elementName : slug) ~ "_specialty" %}
  {% set nameWidth = (allowFavored and allowSpecialty ? 4 : (allowSpecialty ? 8 : 9)) %}
  <div class="row">
    {% if allowFavored %}
      <div class="col-1">
        <input type="checkbox" id="{{ favoredName }}" name="{{ favoredName }}" title="{{ name ~ " Favored" }}"{% if favored %} checked {% endif %}>
      </div>
    {% endif %}
    <div class="col-{{nameWidth}}">
      {% if allowEditName %}
        <input type="text" value="{{ name }}" id="{{ nameName }}" name="{{ nameName }}" title="{{ name ~ " Name" }}">
      {% else %}
        <div class="{% if underlineName %}underline {% endif %}min-height-20">
          <label for="{{ nameName }}">{{ name }}</label>
        </div>
      {% endif %}
    </div>
    {% if allowSpecialty %}
      <div class="col-4">
        <input type="text" value="{{ specialty }}" name="{{ specialtyName }}" id="{{ specialtyName }}" title="{{ name ~ " Specialty" }}">
      </div>
    {% endif %}
    <div class="col-3 text-right">
      <input type="number" value="{{ value }}" min="0" max="5" id="{{ valueName }}" name="{{ valueName }}" title="{{ name ~ " Value"}}">
    </div>
  </div>
  {% endmacro abilityEntry %}
  <div class="user-css">
    <div class="container">
      <!-- Header -->
      <div class="row">
        <div class="col-sm-4">
          <img src="{{logoUrl}}" class="logo">
        </div>
        <div class="col-sm-8 vertical-center">
          <div class="row">
            <div class="col-sm-2 col-3">
              <label for="name">Name:</label>
            </div>
            <div class="col-sm-4 col-9">
              <input type="text" id="name" name="name" value="{{variables.name is defined ? variables.name }}">
            </div>
            <div class="col-sm-2 col-3">
              <label for="anima">Iconic Anima:</label>
            </div>
            <div class="col-sm-4 col-9">
              <input type="text" id="anima" name="anima" value="{{variables.anima is defined ? variables.anima : 0 }}">
            </div>
            <div class="col-sm-2 col-3">
              <label for="player">Player:</label>
            </div>
            <div class="col-sm-4 col-9">
              <input type="text" id="player" name="player" value="{{variables.player is defined ? variables.player }}">
            </div>
            <div class="col-sm-2 col-3">
              <label for="limit_trigger">Limit Trigger:</label>
            </div>
            <div class="col-sm-4 col-9">
              <input type="text" id="limit_trigger" name="limit_trigger" value="{{variables.limit_trigger is defined ? variables.limit_trigger }}">
            </div>
            <div class="col-sm-2 col-3">
              <label for="caste">Caste:</label>
            </div>
            <div class="col-sm-4 col-9">
              <input type="text" id="caste" name="caste" value="{{variables.caste is defined ? variables.caste}}">
            </div>
            <div class="col-sm-2 col-3">
              <label for="concept">Concept:</label>
            </div>
            <div class="col-sm-4 col-9">
              <input type="text" id="concept" name="concept" value="{{variables.concept is defined ? variables.concept}}">
            </div>
          </div>
        </div>
      </div>
      <!-- Attributes -->
      {{ sheet.separator("Attributes")}}
      <div class="row">
        <div class="col-sm-4 col-12">
          {{ sheet.abilityEntry("Strength", false, false, false, variables.strength) }}
          {{ sheet.abilityEntry("Dexterity", false, false, false, variables.dexterity) }}
          {{ sheet.abilityEntry("Stamina", false, false, false, variables.stamina) }}
        </div>
        <div class="col-sm-4 col-12">
          {{ sheet.abilityEntry("Charisma", false, false, false, variables.charisma) }}
          {{ sheet.abilityEntry("Manipulation", false, false, false, variables.manipulation) }}
          {{ sheet.abilityEntry("Appearance", false, false, false, variables.appearance) }}
        </div>
        <div class="col-sm-4 col-12">
          {{ sheet.abilityEntry("Perception", false, false, false, variables.perception) }}
          {{ sheet.abilityEntry("Intelligence", false, false, false, variables.intelligence) }}
          {{ sheet.abilityEntry("Wits", false, false, false, variables.wits) }}
        </div>
      </div>
      <!-- Main Content -->

      <!-- Abilities -->
      {{ sheet.separator("Abilities") }}
      <div class="row">
        <div class="col-sm-4 col-12">
          <div class="text-center">War</div>
          {% for ability in abilities.War %}
          {% set slug = ability|lower|replace({" ": "_"}) %}
          {{ sheet.abilityEntry(ability, true, true, false, variables[slug] is defined ? variables[slug] : 0, variables[slug ~ "_specialty"], variables[slug ~ "_favored"] is defined ? variables[slug ~ "_favored"] : false) }}
          {% endfor %}
        </div>
        <div class="col-sm-4 col-12">
          <div class="text-center">Life</div>
          {% for ability in abilities.Life %}
          {% set slug = ability|lower|replace({" ": "_"}) %}
          {{ sheet.abilityEntry(ability, true, true, false, variables[slug] is defined ? variables[slug] : 0, variables[slug ~ "_specialty"], variables[slug ~ "_favored"] is defined ? variables[slug ~ "_favored"] : false) }}
          {% endfor %}
        </div>
        <div class="col-sm-4 col-12">
          <div class="text-center">Wisdom</div>
          {% for ability in abilities.Wisdom %}
          {% set slug = ability|lower|replace({" ": "_"}) %}
          {{ sheet.abilityEntry(ability, true, true, false, variables[slug] is defined ? variables[slug] : 0, variables[slug ~ "_specialty"], variables[slug ~ "_favored"] is defined ? variables[slug ~ "_favored"] : false) }}
          {% endfor %}
          <div class="text-center">Craft/Martial Arts</div>
          {% for index in 0..3 %}
          {% set slug = "additional_ability_" ~ index %}
          {% set name = variables[slug ~ "_name"] is defined ? variables[slug ~ "_name"] : "" %}
          {% set value = variables[slug ~ "_value"] is defined ? variables[slug ~ "_value"] : 0 %}
          {% set specialty = variables[slug ~ "_specialty"] is defined ? variables[slug ~ "_specialty"] : "" %}
          {% set favored = variables[slug ~ "_favored"] is defined ? variables[slug ~ "_favored"] : false %}
          {{ sheet.abilityEntry(name, true, true, true, value, specialty, favored, true, slug) }}
          {% endfor %}
        </div>
      </div>
      {{ sheet.separator("Combat") }}
      <div class="row">
        <div class="col-12">
          {{ sheet.weaponLine("Weapon Name", "Acc", "Dmg", "Ovr", "Def", "Tags") }}
          {% for i in range(0,9) %}
            {{ sheet.weaponLine(variables["weapon_" ~ i ~ "_name"], variables["weapon_" ~ i ~ "_accuracy"], variables["weapon_" ~ i ~ "_damage"], variables["weapon_" ~ i ~ "_overwhelming"], variables["weapon_" ~ i ~ "_defense"], variables["weapon_" ~ i ~ "_tags"], i) }}
            {% if i != 9 %}
            <hr class="d-sm-none">
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          {{ sheet.armorLine("Armor Name", "Soak", "Mobility Penalty", "Hardness", "Tags") }}
          {% for i in range(0,4) %}
          {{ sheet.armorLine(variables["armor_" ~ i ~ "_name"], variables["armor_" ~ i ~ "_soak"], variables["armor_" ~ i ~ "_mobility_penalty"], variables["armor_" ~ i ~ "_hardness"], variables["armor_" ~ i ~ "_tags"], i) }}
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-3 d-none d-sm-block">Join Battle</div>
            <div class="col-3 d-block d-sm-none">JB</div>
            <div class="col-3 d-none d-sm-block">Withering</div>
            <div class="col-3 d-block d-sm-none">With.</div>
            <div class="col-2 d-none d-sm-block">Decisive</div>
            <div class="col-2 d-block d-sm-none">Dec.</div>
            <div class="col-2">Parry</div>
            <div class="col-2 d-none d-sm-block">Evasion</div>
            <div class="col-2 d-block d-sm-none">Ev.</div>
          </div>
          <div class="row">
            <div class="col-3"><input type="number" name="join_battle" id="join_battle" value="{{variables.join_battle is defined ? variables.join_battle}}"></div>
            <div class="col-3"><input type="number" name="withering" id="withering" value="{{variables.withering is defined ? variables.withering}}"></div>
            <div class="col-2"><input type="number" name="decisive" id="decisive" value="{{variables.decisive is defined ? variables.decisive}}"></div>
            <div class="col-2"><input type="number" name="parry" id="parry" value="{{variables.parry is defined ? variables.parry}}"></div>
            <div class="col-2"><input type="number" name="evasion" id="evasion" value="{{variables.evasion is defined ? variables.evasion}}"></div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-2">Rush</div>
            <div class="col-2 d-none d-sm-block">Disengage</div>
            <div class="col-2 d-block d-sm-none">Dis.</div>
            <div class="col-2 d-none d-sm-block">Control</div>
            <div class="col-2 d-block d-sm-none">Ctrl</div>
            <div class="col-3">Shaping</div>
            <div class="col-3">Orders</div>
          </div>
          <div class="row">
            <div class="col-2"><input type="number" name="rush" id="rush" value="{{variables.rush is defined ? variables.rush}}"></div>
            <div class="col-2"><input type="number" name="disengage" id="disengage" value="{{variables.disengage is defined ? variables.disengage}}"></div>
            <div class="col-2"><input type="number" name="control" id="control" value="{{variables.control is defined ? variables.control}}"></div>
            <div class="col-3"><input type="number" name="shaping" id="shaping" value="{{variables.shaping is defined ? variables.shaping}}"></div>
            <div class="col-3"><input type="text" name="orders" id="orders" value="{{variables.orders is defined ? variables.orders}}"></div>
          </div>
        </div>
      </div>
      {{ sheet.separator("Advantages") }}
      <div class="row">
        <div class="col-12 col-sm-4">
          <div class="row">
            <div class="col-12 text-center">Social Influence</div>
            <div class="col-6 text-center"><label for="guile">Guile</label></div>
            <div class="col-6 text-center"><label for="resolve">Resolve</label></div>
            <div class="col-6"><input type="number" name="guile" id="guile" value="{{variables.guile is defined ? variables.guile}}"></div>
            <div class="col-6"><input type="number" name="resolve" id="resolve" value="{{variables.resolve is defined ? variables.resolve}}"></div>
            <div class="col-12 text-center">Languages</div>
            <div class="col-12"><textarea name="languages" id="languages" rows="8" class="fullwidth">{{variables.languages is defined ? variables.languages}}</textarea></div>
          </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="row">
            <div class="col-12 text-center">Merits</div>
          </div>
          {% for i in range(0,9) %}
          {% set name = variables["merit_" ~ i ~ "_name"] is defined ? variables["merit_" ~ i ~ "_name"] : "" %}
          {% set value = variables["merit_" ~ i ~ "_value"] is defined ? variables["merit_" ~ i ~ "_value"] : 0 %}
          {{ sheet.abilityEntry(name, false, false, false, value, false, false, true, "merit_" ~ i) }}
          {% endfor %}
        </div>
        <div class="col-12 col-sm-4">
          <div class="row">
            <div class="col-12 text-center">Merits</div>
          </div>
          {% for i in range(10,14) %}
          {% set name = variables["merit_" ~ i ~ "_name"] is defined ? variables["merit_" ~ i ~ "_name"] : "" %}
          {% set value = variables["merit_" ~ i ~ "_value"] is defined ? variables["merit_" ~ i ~ "_value"] : 0 %}
          {{ sheet.abilityEntry(name, false, false, false, value, false, false, true, "merit_" ~ i) }}
          {% endfor %}
          <div class="row">
            <div class="col-12 text-center">Flaws</div>
            {% for i in range(0,3) %}
            <div class="col-12">
              <input type="text" name="flaw_{{i}}" id="flaw_{{i}}" value="{{variables["flaw_" ~ i] is defined ? variables["flaw_" ~ i]}}">
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-12">
          {{ sheet.separator("Limit") }}
          <div class="row">
            <div class="col-4"><label for="limit">Limit:</label></div>
            <div class="col-8"><input type="number" name="limit" id="limit" value="{{variables.limit is defined ? variables.limit}}"></div>
            <div class="col-12 text-center"><label for="experience">Experience</label></div>
            <div class="col-12"><input type="number" name="experience" id="experience" value="{{variables.experience is defined ? variables.experience}}"></div>
            <div class="col-12 text-center"><label for="solar_experience">Solar Experience</label></div>
            <div class="col-12"><input type="number" name="solar_experience" id="solar_experience" value="{{variables.solar_experience is defined ? variables.solar_experience}}"></div>
          </div>
        </div>
        <div class="col-sm-4 col-12">
          {{ sheet.separator("Health") }}
          <div class="row">
            <div class="col-4"><label for="health_0">-0</label></div>
            <div class="col-8"><input type="number" name="health_0" id="health_0" value="{{ variables.health_0 is defined ? variables.health_0 }}"></div>
          </div>
          <div class="row">
            <div class="col-4"><label for="health_1">-1</label></div>
            <div class="col-8"><input type="number" name="health_1" id="health_0" value="{{ variables.health_1 is defined ? variables.health_1 }}"></div>
          </div>
          <div class="row">
            <div class="col-4"><label for="health_2">-2</label></div>
            <div class="col-8"><input type="number" name="health_2" id="health_2" value="{{ variables.health_2 is defined ? variables.health_2 }}"></div>
          </div>
        </div>
        <div class="col-sm-4 col-12">
          {{ sheet.separator("Willpower") }}
          <div class="row">
            <div class="col-4"><label for="permanent_willpower">Permanent:</label></div>
            <div class="col-8"><input type="number" name="permanent_willpower" id="permanent_willpower" value="{{ variables.permanent_willpower is defined ? variables.permanent_willpower }}"></div>
          </div>
          <div class="row">
            <div class="col-4"><label for="temporary_willpower">Temporary:</label></div>
            <div class="col-8"><input type="number" name="temporary_willpower" id="temporary_willpower" value="{{ variables.temporary_willpower is defined ? variables.temporary_willpower }}"></div>
          </div>
          {{ sheet.separator("Essence") }}
          <div class="row">
            <div class="col-4"><label for="essence">Essence:</label></div>
            <div class="col-8"><input type="number" name="essence" id="essence" value="{{ variables.essence is defined ? variables.essence }}"></div>
          </div>
          <div class="row">
            <div class="col-4"><label for="personal_available">Personal:</label></div>
            <div class="col-3"><input type="number" name="essence_personal_available" id="essence_personal_available" value="{{ variables.essence_personal_available is defined ? variables.essence_personal_available }}"></div>
            <div class="col-1">/</div>
            <div class="col-4"><input type="number" name="essence_personal_total" id="essence_personal_total" value="{{ variables.essence_personal_total is defined ? variables.essence_personal_total}}"></div>
          </div>
          <div class="row">
            <div class="col-4"><label for="essence_committed">Committed:</label></div>
            <div class="col-8"><input type="number" name="essence_committed" id="essence_committed" value="{{ variables.essence_committed is defined ? variables.essence_committed }}"></div>
          </div>
        </div>
      </div>
      {{ sheet.separator() }}
    </div>
  </div>

  <!-- End page code -->

</body>
