{%
set variables = {"name":"Sample Character","age":"23","concept":"This is a sample character.","strength":"2","dexterity":"3","stamina":"3","charisma":"2","manipulation":"4","appearance":"3","perception":"4","intelligence":"5","wits":"3","archery_specialty":"","archery":"0","athletics_specialty":"","athletics":"0","awareness_specialty":"","awareness":"2","brawl_specialty":"","brawl":"1","bureaucracy_specialty":"","bureaucracy":"0","craft_specialty":"","craft":"0","dodge_specialty":"","dodge":"3","integrity_specialty":"","integrity":"0","investigation_specialty":"","investigation":"2","larceny_specialty":"","larceny":"1","linguistics_specialty":"","linguistics":"0","lore_favored":"1","lore_specialty":"Programming","lore":"5","martial_arts_specialty":"","martial_arts":"0","medicine_specialty":"","medicine":"0","melee_specialty":"","melee":"0","occult_favored":"1","occult_specialty":"","occult":"3","performance_specialty":"","performance":"0","presence_specialty":"","presence":"0","resistance_specialty":"","resistance":"0","ride_specialty":"","ride":"0","sail_specialty":"","sail":"0","socialize_specialty":"","socialize":"0","stealth_favored":"1","stealth_specialty":"","stealth":"2","survival_specialty":"","survival":"0","thrown_specialty":"","thrown":"0","war_specialty":"","war":"0","additional_ability_0_favored":"1","additional_ability_0_name":"Sample Additional Skill","additional_ability_0_specialty":"","additional_ability_0_value":"3","additional_ability_1_name":"","additional_ability_1_specialty":"","additional_ability_1_value":"","additional_ability_2_name":"","additional_ability_2_specialty":"","additional_ability_2_value":"","additional_ability_3_name":"","additional_ability_3_specialty":"","additional_ability_3_value":"","additional_ability_4_name":"","additional_ability_4_specialty":"","additional_ability_4_value":"","merit_0_name":"Sample Merit","merit_0_value":"1","merit_1_name":"","merit_1_value":"","merit_2_name":"","merit_2_value":"","merit_3_name":"","merit_3_value":"","merit_4_name":"","merit_4_value":"","merit_5_name":"","merit_5_value":"","merit_6_name":"","merit_6_value":"","merit_7_name":"","merit_7_value":"","merit_8_name":"","merit_8_value":"","merit_9_name":"","merit_9_value":"","merit_10_name":"","merit_10_value":"","merit_11_name":"","merit_11_value":"","merit_12_name":"","merit_12_value":"","merit_13_name":"","merit_13_value":"","merit_14_name":"","merit_14_value":"","merit_15_name":"","merit_15_value":"","merit_16_name":"","merit_16_value":"","merit_17_name":"","merit_17_value":"","merit_18_name":"","merit_18_value":"","merit_19_name":"","merit_19_value":"","merit_20_name":"","merit_20_value":"","merit_21_name":"","merit_21_value":"","merit_22_name":"","merit_22_value":"","merit_23_name":"","merit_23_value":"","merit_24_name":"","merit_24_value":"","merit_25_name":"","merit_25_value":"","permanent_willpower":"7","temporary_willpower":"6","current_experience":"5","total_experience":"15","permanent_essence":"7","personal_essence":"15","peripheral_essence":"23","committed_essence":"3","misc":"","weapon_0_name":"Sample Weapon","weapon_0_withering":"4","weapon_0_decisive":"6","weapon_0_damage":"14","weapon_1_name":"","weapon_1_withering":"","weapon_1_decisive":"","weapon_1_damage":"","weapon_2_name":"","weapon_2_withering":"","weapon_2_decisive":"","weapon_2_damage":"","weapon_3_name":"","weapon_3_withering":"","weapon_3_decisive":"","weapon_3_damage":"","weapon_4_name":"","weapon_4_withering":"","weapon_4_decisive":"","weapon_4_damage":"","weapon_5_name":"","weapon_5_withering":"","weapon_5_decisive":"","weapon_5_damage":"","weapon_6_name":"","weapon_6_withering":"","weapon_6_decisive":"","weapon_6_damage":"","weapon_7_name":"","weapon_7_withering":"","weapon_7_decisive":"","weapon_7_damage":"","natural_soak":"2","armored_soak":"1","total_soak":"3","hardness":"1","parry":"4","evasion":"5","resolve":"2","guile":"2","join_battle":"7","rush":"3","disengage":"2","health_level_0":"-0","health_level_1":"-1","health_level_2":"-1","health_level_3":"-2","health_level_4":"-2","health_level_5":"-4","health_level_6":"X","health_level_7":"","health_level_8":"","health_level_9":"","health_level_10":"","health_level_11":"","health_level_12":"","health_level_13":"","health_level_14":"","health_level_15":"","health_level_16":"","health_level_17":"","health_level_18":"","health_level_19":"","health_level_20":"","health_level_21":"","health_level_22":"","health_level_23":"","health_level_24":"","health_level_25":"","health_level_26":"","health_level_27":"","health_level_28":"","health_level_29":"","health_level_30":"","health_level_31":"","intimacy_0_name":"Spending Entirely Too Much Time Coding Things","intimacy_0_intensity":"Defining","intimacy_1_name":"","intimacy_1_intensity":"","intimacy_2_name":"","intimacy_2_intensity":"","intimacy_3_name":"","intimacy_3_intensity":"","intimacy_4_name":"","intimacy_4_intensity":"","intimacy_5_name":"","intimacy_5_intensity":"","intimacy_6_name":"","intimacy_6_intensity":"","intimacy_7_name":"","intimacy_7_intensity":"","intimacy_8_name":"","intimacy_8_intensity":"","intimacy_9_name":"","intimacy_9_intensity":"","intimacy_10_name":"","intimacy_10_intensity":"","intimacy_11_name":"","intimacy_11_intensity":"","intimacy_12_name":"","intimacy_12_intensity":"","intimacy_13_name":"","intimacy_13_intensity":"","intimacy_14_name":"","intimacy_14_intensity":"","intimacy_15_name":"","intimacy_15_intensity":"","intimacy_16_name":"","intimacy_16_intensity":"","intimacy_17_name":"","intimacy_17_intensity":"","intimacy_18_name":"","intimacy_18_intensity":"","intimacy_19_name":"","intimacy_19_intensity":"","equipment_0":"Sample Equipment Item","equipment_1":"","equipment_2":"Several Small Items x10","equipment_3":"","equipment_4":"10ft. Rope, Apparently","equipment_5":"","equipment_6":"","equipment_7":"","equipment_8":"","equipment_9":"","equipment_10":"","equipment_11":"","equipment_12":"","equipment_13":"","equipment_14":"","equipment_15":"","notes":"","tags":"","isShared":"on","templateId":"3882","blockId":"418569","world":"8115a55e-48af-4a8d-8d5f-f79d69ce73cb","folder":""}
%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block Title %}Sheet Testing{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
        crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('assets/EX3/Mortal/css/style.css') }}"/>
</head>
<body>

  <!-- Code goes here -->
  {% import _self as sheet %}
  {% set logoUrl = "https://rawcdn.githack.com/Unarekin/World-Anvil-EX3-Sheets/88a3ba53411237e81c8b199b35eb0594ad2b26c7/images/EX3Logo.png" %}

    {% set abilities = [
    'Archery',
    'Athletics',
    'Awareness',
    'Brawl',
    'Bureaucracy',
    'Craft',
    'Dodge',
    'Integrity',
    'Investigation',
    'Larceny',
    'Linguistics',
    'Lore',
    'Martial Arts',
    'Medicine',
    'Melee',
    'Occult',
    'Performance',
    'Presence',
    'Resistance',
    'Ride',
    'Sail',
    'Socialize',
    'Stealth',
    'Survival',
    'Thrown',
    'War'
  ] %}
  {% macro separator(name) %}
  <div class="bar">
    <img src="https://rawcdn.githack.com/Unarekin/World-Anvil-EX3-Sheets/1de56a936f00401e3b40eb83aa28d607c063ea85/images/EX3Bar.jpg">
    <div class="abs-center"><span class="white-bg pad-left pad-right">{{name}}</span></div>
  </div>
  {% endmacro separator %}
  {% macro showDots(value, max = 5, emptyChar = "○", fullChar = "●") %}
  {% set value = value|abs %}
  {% set max = max|abs %}
{% if value is defined and value > 0 %}
{% for i in 1..value %}{{ fullChar }}{% endfor %}
{% endif %}
{% if value is defined and value < max %}
{% for i in 1..(max - value) %}{{ emptyChar }}{% endfor %}
{% endif %}
  {% endmacro showDots %}
  {% macro abilityEntry(name, allowSpecialty=false, allowFavored=true, underlineName=false, value=0, specialty="", favored=false) %}
  {% import _self as ext %}
  {% if value is not defined or value == "" %}
  {% set value = 0 %}
  {% endif %}
  <div class="row">
    {% if allowFavored %}<div class="col-1">☐</div>{% endif %}
    <div class="{% if allowFavored %}col-8{% else %}col-9{% endif %}">
      {% if underlineName %}<div class="underline fullheight">{% endif %}{{name}}{% if underlineName %}</div>{% endif %}
    </div>
    <div class="col-3">{{ ext.showDots(value) }}</div>
  </div>
  {% endmacro abilityEntry %}
  {% macro weaponLine(name, withering, decisive, damage) %}
  <div class="row bump-right">
    <div class="col-6 underline min-height-20">{{ name is defined ? name}}</div>
    <div class="col-2 underline min-height-20 text-center">{{ withering is defined ? withering }}</div>
    <div class="col-2 underline min-height-20 text-center">{{ decisive is defined ? decisive }}</div>
    <div class="col-2 underline min-height-20 text-center">{{ damage is defined ? damage }}</div>
  </div>
  {% endmacro weaponLine %}

  <div class="user-css">
    <div class="container">
      <!-- Header -->
      <div class="row">
        <div class="col-sm-4">
          <img src="{{logoUrl}}" class="logo">
        </div>
        <div class="col-sm-8 vertical-center">
          <div class="row">
            <div class="col-sm-2 col-3">Name:</div>
            <div class="col-sm-4 col-9 underline">{{variables.name is defined ? variables.name }}</div>
            <div class="col-sm-2 col-3">Age:</div>
            <div class="col-sm-4 col-9 underline">{{variables.age is defined ? variables.age }}</div>
            <div class="col-sm-2 col-3">Concept:</div>
            <div class="col-sm-10 col-9 underline">{{variables.concept is defined ? variables.concept }}</div>
          </div>
        </div>
      </div>
      <!-- Attributes -->
      {{ sheet.separator("Attributes")}}
      <div class="row">
        <div class="col-sm-4 col-12">
          {{ sheet.abilityEntry("Strength", false, false, false, variables.strength) }}
          {{ sheet.abilityEntry("Dexterity", false, false, false, variables.dexterity) }}
          {{ sheet.abilityEntry("Stamina", false, false, false, variables.stamina) }}
        </div>
        <div class="col-sm-4 col-12">
          {{ sheet.abilityEntry("Charisma", false, false, false, variables.charisma) }}
          {{ sheet.abilityEntry("Manipulation", false, false, false, variables.manipulation) }}
          {{ sheet.abilityEntry("Appearance", false, false, false, variables.appearance) }}
        </div>
        <div class="col-sm-4 col-12">
          {{ sheet.abilityEntry("Perception", false, false, false, variables.perception) }}
          {{ sheet.abilityEntry("Intelligence", false, false, false, variables.intelligence) }}
          {{ sheet.abilityEntry("Wits", false, false, false, variables.wits) }}
        </div>
      </div>
      <!-- Main Content -->
      <div class="row">
        <!-- Abilities & Additional Abilities -->
        <div class="col-sm-4 col-12">
          {{ sheet.separator("Abilities") }}
          {% for ability in abilities %}
          {% set slug = ability|lower|replace({" ": "_"}) %}
          {{ sheet.abilityEntry(ability, true, true, false, variables[slug] is defined ? variables[slug] : 0, variables[slug ~ "_specialty"], variables[slug ~ "_favored"] is defined ? variables[slug ~ "_favored"] : false) }}
          {% endfor %}
          {{ sheet.separator("Additional Abilities") }}
          {% for index in 0..4 %}
          {% set slug = "additional_ability_" ~ index %}
          {{ sheet.abilityEntry(variables[slug ~ "_name"] is defined ? variables[slug ~ "_name"] : "", true, true, true, variables[slug ~ "_value"] is defined ? variables[slug ~ "_value"] : 0) }}
          {% endfor %}
        </div>
        <!-- Merits, Willpower & Experience, Essence & Misc, Weapons -->
        <div class="col-sm-8 col-12">
          <!-- Merits -->
          {{ sheet.separator("Merits") }}
          <div class="row">
            {% for index in 0..25 %}
              {% set slug = "merit_" ~ index %}
              <div class="col-sm-6 col-12">
                {{ sheet.abilityEntry(variables[slug ~ "_name"] is defined ? variables[slug ~ "_name"] : "", false, false, true, variables[slug ~ "_value"] is defined ? variables[slug ~ "_value"] : 0) }}
              </div>
            {% endfor %}
          </div>
          <!-- Willpower & Experience -->
          <div class="row">
            <!-- Willpower -->
            <div class="col-sm-6 col-12">
              {{ sheet.separator("Willpower") }}
              <!-- Permanent Willpower -->
              <div class="row big-dots">
                <div class="col-12 text-center">
                  {{ sheet.showDots(variables.permanent_willpower is defined ? variables.permanent_willpower : 0, 10) }}
                </div>
              </div>
              <!-- Temporary Willpower -->
              <div class="row big-squares">
                <div class="col-12 text-center">
                  {{ sheet.showDots(variables.temporary_willpower is defined ? variables.temporary_willpower : 0, 10, "☐", "☑") }}
                </div>
              </div>
            </div>
            <!-- Experience -->
            <div class="col-sm-6 col-12">
              {{ sheet.separator("Experience") }}
              <div class="row bump-right">
                <div class="col-3">Current:</div>
                <div class="col-3 underline">{{ variables.current_experience is defined ? variables.current_experience }}</div>
                <div class="col-3">Total:</div>
                <div class="col-3 underline">{{ variables.total_experience is defined ? variables.total_experience }}</div>
              </div>
            </div>
          </div>
          <!-- Essence & Misc -->
          <div class="row">
            <!-- Essence -->
            <div class="col-sm-6 col-12">
              {{ sheet.separator("Essence") }}
              <!-- Permanent Essence -->
              <div class="row">
                <div class="col-12 big-dots text-center">{{ sheet.showDots(variables.permanent_essence is defined ? variables.permanent_essence) }}</div>
              </div>
              <!-- Personal Motes -->
              <div class="row bump-right">
                <div class="col-3">Personal:</div>
                <div class="col-4 underline text-center">{{ variables.personal_essence is defined ? variables.personal_essence }}</div>
                <div class="col-1">|</div>
                <div class="col-4 underline text-center">{{ variables.personal_essence_max is defined ? variables.personal_essence_max }}</div>
              </div>
              <!-- Peripheral Motes -->
              <div class="row bump-right">
                <div class="col-3">Peripheral:</div>
                <div class="col-4 underline text-center">{{ variables.peripheral_essence is defined ? variables.peripheral_essence }}</div>
                <div class="col-1">|</div>
                <div class="col-4 underline text-center">{{ variables.peripheral_essence_max is defined ? variables.peripheral_essence_max }}</div>
              </div>
              <!-- Committed Motes -->
              <div class="row bump-right">
                <div class="col-3">Committed:</div>
                <div class="col-9 underline text-center">{{ variables.committed_essence is defined ? variables.committed_essence }}</div>
              </div>

            </div>
            <!-- Misc -->
            <div class="col-sm-6 col-12">
              {{ sheet.separator("Misc") }}
              <div class="row">
                <div class="col-12">
                  <textarea name="misc" id="misc" readonly rows="5" class="fullwidth">{{ variables.misc is defined ? variables.misc }}</textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- Weapons -->
          {{ sheet.separator("Weapons") }}
          <div class="row bump-right">
            <div class="col-6">Weapon Name</div>
            <div class="col-2 text-center">Withering</div>
            <div class="col-2 text-center">Decisive</div>
            <div class="col-2 text-center">Damage</div>
          </div>
          {% for index in 0..4 %}
          {% set name = variables["weapon_" ~ index ~ "_name"] is defined ? variables["weapon_" ~ index ~ "_name"] : "" %}
          {% set withering = variables["weapon_" ~ index ~ "_withering"] is defined ? variables["weapon_" ~ index ~ "_withering"] : "" %}
          {% set decisive = variables["weapon_" ~ index ~ "_decisive"] is defined ? variables["weapon_" ~ index ~ "_decisive"] : "" %}
          {% set damage = variables["weapon_" ~ index ~ "_damage"] is defined ? variables["weapon_" ~ index ~ "_damage"] : "" %}
          {{ sheet.weaponLine(name, withering, decisive, damage) }}
          {% endfor %}
        </div>
      </div>
      <!-- Health & Defense -->
      {{ sheet.separator("Health & Defense") }}
      <div class="row small bump-right">
        <div class="col-2 text-center">Natural Soak:</div>
        <div class="col-1 underline text-center">{{ variables.natural_soak is defined ? variables.natural_soak }}</div>
        <div class="col-2 text-center">Armored Soak:</div>
        <div class="col-1 underline text-center">{{ variables.armored_soak is defined ? variables.armored_soak }}</div>
        <div class="col-1 text-center">Total Soak:</div>
        <div class="col-1 underline text-center">{{ variables.total_soak is defined ? variables.total_soak }}</div>
        <div class="col-1 text-center">Hardness:</div>
        <div class="col-1 underline text-center">{{ variables.hardness is defined ? variables.hardness }}</div>
        <div class="col-1 text-center">Parry:</div>
        <div class="col-1 underline text-center">{{ variables.parry is defined ? variables.parry }}</div>
      </div>
      <div class="row small bump-right">
        <div class="col-1 text-center">Evasion:</div>
        <div class="col-1 underline text-center">{{ variables.evasion is defined ? variables.evasion }}</div>
        <div class="col-1 text-center">Resolve:</div>
        <div class="col-1 underline text-center">{{ variables.resolve is defined ? variables.resolve }}</div>
        <div class="col-1 text-center">Guile:</div>
        <div class="col-1 underline text-center">{{ variables.guile is defined ? variables.guile }}</div>
        <div class="col-1 text-center">Join Battle:</div>
        <div class="col-1 underline text-center">{{ variables.join_battle is defined ? variables.join_battle }}</div>
        <div class="col-1 text-center">Rush:</div>
        <div class="col-1 underline text-center">{{ variables.rush is defined ? variables.rush }}</div>
        <div class="col-1 text-center">Disengage:</div>
        <div class="col-1 underline text-center">{{ variables.disengage is defined ? variables.disengage }}</div>
      </div>
      <!-- Intimacies -->
      {{ sheet.separator("Intimacies") }}
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-9">Intimacy</div>
            <div class="col-3">Intensity</div>
          </div>
        </div>
        <div class="col-sm-6 d-none d-sm-block">
          <div class="row">
            <div class="col-9">Intimacy</div>
            <div class="col-3">Intensity</div>
          </div>
        </div>
      </div>
      <div class="row">
        {% for index in 0..9 %}
          <div class="col-sm-6 col-12">
            <div class="row">
              <div class="col-9">
                <div class="underline fullheight">{{ variables["intimacy_" ~ index ~ "_name"] is defined ? variables["intimacy_" ~ index ~ "_name"] }}</div>
              </div>
              <div class="col-3">{{ sheet.showDots(variables["intimacy_" ~ index ~ "_intensity"] is defined ? variables["intimacy_" ~ index ~ "_intensity"] : 0, 3) }}</div>
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="row">
              <div class="col-9">
                <div class="underline fullheight">{{ variables["intimacy_" ~ (index + 10) ~ "_name"] is defined ? variables["intimacy_" ~ (index + 10) ~ "_name"] }}</div>
              </div>
              <div class="col-3">{{ sheet.showDots(variables["intimacy_" ~ (index + 10) ~ "_intensity"] is defined ? variables["intimacy_" ~ (index + 10) ~ "_intensity"] : 0, 3) }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Equipment -->
      {{ sheet.separator("Equipment") }}
      <div class="row">
        <div class="col-12">
          {% for index in 0..7 %}
          <div class="row bump-left bump-right">
            <div class="col-sm-6 col-12 underline min-height-20">{{ variables["equipment_" ~ index] is defined ? variables["equipment_" ~ index] }}</div>
            <div class="col-sm-6 col-12 underline min-height-20">{{ variables["equipment_" ~ (index + 8)] is defined ? variables["equipment_" ~ (index + 8)] }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Notes -->
      {{ sheet.separator("Notes") }}
      <div class="row">
        <div class="col-12">
          <textarea class="fullwidth" rows="15" id="notes" name="notes" readonly>{{variables.notes is defined ? variables.notes}}</textarea>
        </div>
      </div>
    </div>
  </div>

  <!-- End page code -->

</body>
